<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wall.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wall.description %>
</p>

<%= link_to 'Edit', edit_wall_path(@wall) %> |
<%= link_to 'Back', walls_path %>
